.tbl{
    align-items: center;
}

.tbl1{
    display: flex;
    justify-content: center;
}

.tbl1 table{
    border-collapse: collapse;
    width: 100%;
}

.tbl1 th{
    background-color: aqua;
}

.tbl1 td{
    
}

.tbl1 th, .tbl1 td{
    padding: 14px 35px;
}

.div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn{
    background-color: aqua;
    border: 2px aqua solid;
    border-radius: 4px;
    border-width: 10px;
}

